<!DOCTYPE html>
<html lang="en" ng-app="crApp">
<head>
  <meta charset="utf-8">
  <title>Allianz Change Request App</title>
  <!-- load bootstrap and fontawesome via CDN -->
       <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
			textarea
			{
				
			}
        </style>
  <!-- load angular via CDN -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="//code.angularjs.org/1.6.9/angular.min.js"></script>
  <script src="//code.angularjs.org/1.6.9/angular-messages.min.js"></script>
  <script src="//code.angularjs.org/1.6.9/angular-resource.min.js"></script>
  <script src="scripts/ngClickCopy.js"></script>	
  <script src="app.js"></script>	
  <header>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header" >
				<a class="navbar-brand" href="http://www.allianz.co.uk">Allianz</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<!-- <li><a href="#"><i class="fa fa-home"></i> Home</a></li> -->
				<li><a href="https://sim.srv.allianz/"> Service NOW</a></li>
			</ul>
		</div>
	</nav>
  </header>
</head>
<body>
	<div class="container">
		<div ng-controller="mainController">
			 <div class="row">
    			<div class="col">
					<label>Classification:</label>
      			</div>
				<div class="col">
					<select ng-model="selectedClassification" ng-options="classification for classification in classifications">
					</select>
      			</div> 
			</div>	 
    		<div class="row">
    			<div class="col">
					<label>State:</label>
      			</div>
				<div class="col">
					<select ng-model="selectedState" ng-options="state as state.label for state in states">
					</select>
      			</div> 
			</div>	
			<div class="row">
    			<div class="col">
					<label>Category:</label>
      			</div>
				<div class="col">
					<select ng-model="selectedCategory" ng-options="category for category in categories">
					</select>
      			</div> 
			</div>	
			<div class="row">
    			<div class="col">
					<label>Assignment group:</label>
      			</div>
				<div class="col">
					<select ng-model="selectedAssignmentGroup" ng-options="assignmentGroup as assignmentGroup.label for assignmentGroup in assignmentGroups">
					</select>
      			</div> 
			</div>
			<div class="row">
    			<div class="col">
					<label>Change Owner:</label>
      			</div>
				<div class="col">
					<select ng-model="selectedChangeOwner" ng-options="changeOwner as changeOwner.label for changeOwner in changeOwners">
					</select>					
      			</div> 
			</div>
      		<div class="row">
    			<div class="col">
					<label>Short description:</label>
      			</div>
				<div class="col">
					<input ng-model="shortDescription" />					
      			</div> 
			</div>
			<div class="row">
    			<div class="col">
					<label>Requirement:</label>
      			</div>
				<div class="col">
					<input ng-model="description" />				
      			</div> 
			</div>
			<div class="row">
    			<div class="col">
					<label>Justification:</label>
      			</div>
				<div class="col">
					<input ng-model="justification" />					
      			</div> 
			</div>
			<div class="row">
    			<div class="col">
					<label>Change plan:</label>
      			</div>
				<div class="col">
					<input ng-model="changePlan" />					
      			</div> 
			</div>
			<div class="row">
    			<div class="col">
					<label>Backout plan:</label>
      			</div>
				<div class="col">
					<input ng-model="backoutPlan" />					
      			</div> 
			</div>
			<div class="row">
    			<div class="col">
					<label>Test plan:</label>
      			</div>
				<div class="col">
					<input ng-model="testPlan" />					
      			</div> 
			</div>
			<br />
			<div class="input-group">
  				<div class="input-group-prepend">
    				<span class="input-group-text">URL:</span>
  				</div>
				<textarea class="form-control">{{makeSnowURL()}}</textarea>
			</div>
			<br />
			<button type="button" class="btn btn-primary btn-sm" ng-click-copy="{{makeSnowURL()}}">Copy URL</button>
			<a href="{{makeSnowURL()}}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Link to URL</a>
		</div>
	</div>	
</body>
</html>
